:root {
    --primary: #2d3032;
    --secondary: #ffffff;
    --grey: #969899;
    --accent: #C0FFFF;
    --accent-grey: #779899;
}

body {
    background-color: var(--primary);
    color: var(--secondary);
    display: flex;
    flex-direction: row;
    height: 100vh;
    margin: 0 5rem;
    font-family: Arial, sans-serif;
}

body > div {
    flex: 1;
}

#header {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    text-align: right;
    > * {
        margin: 0;
        padding-right: 0.5rem;
        border-right: 1px solid var(--secondary);
    }
}

h1 {
    font-size: 4rem;
    font-weight: normal;
}

#icons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: flex-end;
}

.icon {
    width: 2rem;
    transition: transform 0.25s ease;
}

.icon:hover {
    filter: brightness(50%);
    transform: scale(1.1);
}

#content {
    padding-left: 0.5rem;
    transition: flex 1s ease, opacity 0.5s ease;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.link {
    cursor: pointer;
    font-size: 2rem;
    transition: font-size 0.5s ease;
}

.link:hover {
    color: var(--grey);
    font-size: 4rem;
}

.section-title {
    font-size: 2rem;
    transform: rotate(90deg) translate(0px, 2rem);
    transform-origin: center;
}

.section-title--projects {
    transform: rotate(90deg) translate(0px, 2.5rem);
}

.section-body {
    align-self: center;
    max-height: 70%;
    overflow-y: scroll;
    border: 1px solid var(--secondary);
    padding: 1rem;
}

.project {
    display: flex;
    height: 6rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--secondary);
    justify-content: space-around;
}

.project:last-of-type {
    padding-bottom: 0;
    border-bottom: none;
}

.project:first-of-type {
    padding-top: 0;
}

.project-title {
    flex: 0.4;
    display: flex;
    align-items: center;
    justify-content: center;
}


.project-title-text {
    font-size: 1.5rem;
    text-align: center;
    color: var(--accent);
    text-decoration: none;
}

.project-title-text:hover {
    color: var(--accent-grey);
}

.project-description {
    flex: 0.6;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

p a {
    color: var(--accent);
    text-decoration: none;
}

p a:hover {
    color: var(--accent-grey);
}

.homepage-link {
    color: var(--accent);
    margin-top: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
}

.homepage-link:hover {
    color: var(--accent-grey);
}

@media (max-width: 600px) {
    body {
        flex-direction: column;
        margin: 1rem 1rem;
        height: calc(100vh - 4rem);
    }

    h1 {
        font-size: 3rem;
    }

    #header {
        text-align: center;
        justify-content: end;
        padding-bottom: 1rem;
        > * {
            padding-right: 0;
            border-right: none;
        }
    }

    #icons {
        justify-content: center;
    }

    #content {
        flex-direction: column;
        padding-left: auto;
        height: auto;
    }

    .homepage {
        font-size: 1.75rem;
        text-align: center;
    }

    .section-title {
        font-size: 1.75rem;
        transform: rotate(0deg) translate(0px, 0px);
        text-align: right;
        text-align: center;
    }

    .section-body {
        overflow-y: visible;
        border: none;
        padding: 0;
    }

    .link:hover {
        font-size: 2rem;
        color: inherit;
    }

    .icon:hover {
        filter: brightness(100%);
        transform: scale(1);
    }

    .project:last-of-type {
        padding-bottom: 1rem;
        border-bottom: 1px solid var(--secondary);
    }
    
    .project:first-of-type {
        padding-top: 1rem;
        border-top: 1px solid var(--secondary);
        margin-top: 1rem;
    }

    .project-title-text {
        font-size: 1.25rem;
    }

    .project-title-text:hover {
        color: var(--accent);
    }

    p a:hover {
        color: var(--accent);
    }
}