:root {
    --primary: #2d3032;
    --secondary: #ffffff;
    --grey: #808080;
    --accent: #C0FFFF;
    --accent-grey: #618080;
}

body {
    margin: 0;
    font-family: arial, sans-serif;
    color: var(--secondary);
    background-color: var(--primary);
}

#main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#left-container {
    border-right: 2px solid var(--secondary);
    padding-right: 8px;
}

#name {
    font-size: 64px;
    text-align: right;
}

#icons {
    display: flex;
    flex-direction: row;
    gap: 16px;
    height: 32px;
    float: right;
}

.icon {
    width: 32px;
    height: fit-content;
    transition: transform 0.25s ease;
}

.icon:hover {
    filter: brightness(50%);
    transform: scale(1.2);
}

#right-container {
    padding-left: 8px;
    max-width: 115.6px;
    width: 30vw;
    transition: max-width 1s ease;
}

.link {
    font-size: 32px;
    cursor: pointer;
    transition: font-size 0.5s ease;
}

.link:hover {
    color: var(--grey);
    font-size: 64px;
}

#home {
    display: block;
    transition: opacity 1s ease;
}

#projects{
    transition: opacity 1s ease;
    display: none;
    height: 100vh;
    align-items: center;
}

#about {
    transition: opacity 1s ease;
    display: none;
    height: 100vh;
    align-items: center;
}

#about-title {
    text-align: center;
    font-size: 30px;
    padding: none;
    transform: rotate(90deg) translate(0px, 30px);
    transform-origin: middle middle;
    width: 106px;
}

#about-body {
    min-width: calc(25vw - 111.73px);
    letter-spacing: 1px;
    color: var(--secondary);
    font-style: italic;
    text-align: left;
    font-size: 18px;
    border: 1px solid white;
    padding: 16px;
}

p {
    margin: 9px 0;
}

.home-link {
    font-size: 27px;
    color: var(--accent);
    cursor: pointer;
    width: fit-content;
    letter-spacing: normal;
    font-style: normal;
}

.home-link:hover {
    color: var(--accent-grey);
    font-style: italic;
}